body {
    font-family: 'lato', sans-serif;
    margin: 0;
}

h1 {
    font-weight: bold;
    color: royalblue;
    font-style: italic;
    text-align: center;
}

main {
    margin-left: 5em;
}

input, label {
    display: block;
}

form {
    padding: 1em;
    margin: 0 auto;
    width: 116px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px black;
}

